<section class="hero is-dark">
    <div class="hero-body">
        <div class="container is-fluid">
            <h1 class="title">
                Error 500
            </h1>
            <h2 class="subtitle">
                Something is not quite right.
            </h2>
        </div>
    </div>
</section>
